* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #202733;
  padding: 20px;
}

.middleContainer {
  background-color: #313A48;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 3px 3px 20px #202733;
}

.header {
  font-size: 14px;
  color: #53FFAA;
  font-weight: bold;
}

.adviceText {
  color: #CEE3E9;
  font-size: 24px;
}

.pauseContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
}

.pauseContainer:before,
.pauseContainer:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #4F5D74;
  margin: auto;
}

.pauseContainer:before {
  margin-right: 10px;
}

.pauseContainer:after {
  margin-left: 10px;
}


.fa-pause {
  color: #CEE3E9;
  font-size: 28px;
}

.randomButton {
  background-color: #53FFAA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 10px;
  border: none;
  font-size: 24px;
  margin-bottom: -75px;
  cursor: pointer;
}

.randomButton:active {
  box-shadow: 0 0 25px #53FFAA;
}

@media only screen and (max-width: 600px) {
  .middleContainer {
    width: 100%;
  }
}